<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if @user.profile.avatar.attached? %>
  <%= image_tag @user.profile.avatar.variant(resize_to_limit: [100, 100]) %>
<% end %>

<%= turbo_frame_tag "profile" do %>
  <h2>
    name :
    <%= @user.profile.display_name %>
  </h2>
  <h3>
    username : @<%= @user.name %>
  </h3>
  <p>
    about :
    <%= @user.profile.about %>
  </p>
  <%= link_to "Edit", edit_user_profile_path(@user) if @user == current_user %>
<% end %>

<%= turbo_stream_from "profile_#{@user.id}_viewer_#{current_user.id}" %>

<%= turbo_frame_tag "profile_action_button" do %>
  <% if current_user.id != @user.id %>
    <% if  current_user.friend_ids.include?(@user.id) %>
      <%= button_to "Remove Friend",
      user_friend_path(user_id: current_user.id, id: @user.id),
      id: dom_id(@user, :remove),
      method: :delete %>
    <% elsif @requests.empty? || @requests.first.to_id == current_user.id %>
      <%= button_to "Send friend request",
      friend_requests_path(friend_request: { to: @user.name }),
      id: dom_id(@user, :send_req) %>
    <% else %>
      <%= button_to "Cancel friend request",
      friend_request_path(id: @requests.first.id),
      id: dom_id(@user, :cancel_req),
      method: :delete %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_frame_tag "profile-posts",
loading: "lazy",
src: posts_index_for_user_path(id: @user.id) do %>
  <%= render "shared/posts/loader" %>
<% end %>
