<div id="<%= dom_id(friend_request) %>">
  <% if friend_request.to_id == user_id %>
    <div>
      <%= link_to user_profile_path(friend_request.from), data: { turbo_frame: "_top" } do %>
        from :
        <span><%= friend_request.from.name %></span>
      <% end %>
    </div>
  <% else %>
    <div>
      <%= link_to user_profile_path(friend_request.to), data: { turbo_frame: "_top" } do %>
        to :
        <span><%= friend_request.to.name %></span>
      <% end %>
    </div>
  <% end %>
  <p>
    status :
    <%= friend_request.status %>
  </p>
  <div>
    <% if friend_request.from_id == user_id %>
      <%= button_to "Cancel", friend_request_path(friend_request), method: :delete %>
    <% else %>
      <%= button_to "Accept", accept_friend_request_path(friend_request) %>
      <%= button_to "Reject", friend_request_path(friend_request), method: :delete %>
    <% end %>
  </div>
</div>
