<%= link_to "Back", :back %>

<%= turbo_stream_from "post_#{@post.id}" %>
<%= turbo_stream_from "post_#{@post.id}_user_#{current_user.id}" %>

<%= turbo_frame_tag "post" do %>
  <h2>
    title :
    <%= @post.title %>
  </h2>
  <h3>
    author :
    <%= @post.author.name %>
  </h3>
  <p>
    <%= @post.body %>
  </p>
  <p>
    posted :
    <%= @post.created_at %>
  </p>

  <p>
    <% if current_user == @post.author %>
      <%= link_to "Edit", edit_post_path(@post) %>
      <%= button_to "Delete Post",
      post_path(@post),
      method: :delete,
      data: {
        turbo_frame: "_top",
      } %>
    <% end %>
  </p>
<% end %>
<!-- TODO: implement nested comments -->
<%= tag.div id: "post-likes" do %>
  <p>
    <%= @post.post_likes.size %>
  </p>
<% end %>

<%= tag.div id: "post-like-button" do %>
  <% if @post.liked_by?(current_user) %>
    <%= render partial: "post_likes/remove_like_button",
    locals: {
      post_id: @post.id,
      like_id: @post.like_by(current_user).id,
    } %>
  <% else %>
    <%= render partial: "post_likes/like_button", locals: { post_id: @post.id } %>
  <% end %>
<% end %>

<%= button_to "💬 New Comment" %>
<% @post.post_comments.each do |comment| %>
  <%= comment.author.name %>
  :-
  <%= comment.body %>
  <%= button_to "💬 Reply" %>
  <%= button_to "🗑 Delete" if comment.author == current_user %>
<% end %>
