<%= link_to "Back", :back %>

<%= turbo_frame_tag "post" do %>
  <h2>
    title :
    <%= @post.title %>
  </h2>
  <h3>
    author :
    <%= @post.author.name %>
  </h3>
  <p>
    <%= @post.body %>
  </p>
  <p>
    posted :
    <%= @post.created_at %>
  </p>

  <p>
    <% if current_user.posts.include?(@post) %>
      <%= link_to "Edit", edit_post_path(@post) %>
      <%= link_to "Delete",
      post_path(@post),
      data: {
        turbo_method: :delete,
        turbo_frame: "_top",
      } %>
    <% end %>
  </p>
<% end %>
<!-- TODO: implement nested comments -->
<%= button_to "♡ Like" %>
<%= button_to "💬 New Comment" %>
<% @post.post_comments.each do |comment| %>
  <%= comment.author.name %>
  :-
  <%= comment.body %>
  <%= button_to "💬 Reply" %>
  <%= button_to "🗑 Delete" if comment.author == current_user %>
<% end %>
